<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A template for an object that manages a collection view.</string>
	<key>Summary</key>
	<string>An object that implements UICollectionViewDataSource and UICollectionViewDelegate.</string>
	<key>SortOrder</key>
	<string>30</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___CollectionViewManager.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Description</key>
			<string>The name of the collection view manager.</string>
			<key>Type</key>
			<string>text</string>
			<key>Name</key>
			<string>Name:</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
